<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link href="css/sb-admin-2.min.css" rel="stylesheet">-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
	<h1>Área de testes</h1>
	<p>Debug Corpo:</p>

	<form th:action="@{/submeter}" th:object="${Objeto}" id="teste-form" method="get">
		<p th:each="obj : ${Objeto}" th:text="${obj.toString()}"></p>
	</form>

	<input id="btn1" type="button" value="Carregar Droplist Via JQuery (fica sem refresh)" />
	<div id="toLoad"></div>

	<input id="btn2" type="button" onclick="window.location.href = '/teste?droplist=true';" value="Carregar Droplist Via Controlador JAVA (fica com refresh)"/></input>

	<div th:if="${Droplist} eq true">
		<select id="uf" class="form-control" data-role="select">
			<option value="">Selecione a UF</option>
			<option th:each="e : ${Estado}" th:text="${e.sigla}" th:value="${e.id}"></option>
		</select>
	</div>

	<div>
		<p>Debug Script:</p>
		<p id="script"></p>
	</div>
</body>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>

<script>
	function printar(texto) {
		//$(document).ready(function () {
		$("#script").append(texto + "<br/>");
		//});
	};
	function data(year, R) {
		var sundays = new Array();
		i = 1;
		for (month = 1; month <= 12; month++) {
			tdays = new Date(year, month, -1).getDate();
			for (date = 1; date <= tdays; date++) {
				smonth = (month < 10) ? '0' + month : month; sdate = (date < 10) ? '0' + date : date; dd = sdate + '/' + smonth + '/' + year;
				day = new Date();
				day.setDate(date);
				day.setMonth(month - 1);
				day.setFullYear(year);
				if (day.getDay() === 6) {
					sundays[i++] = dd;
				}
			}
		};
		sundays[0] = i - 1;
		return sundays[R];
	};
	printar(data(2021, 22));

	$("#btn1").click(function () {
		$("#toLoad").load("/testes/combobox");
	});

</script>

</html>